.calculator-container {
  display: grid;
  background-color: grey;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.calculator-display-bottom,
.calculator-display-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 5px;
}

.calculator-display-bottom {
  grid-row-start: 2;
  grid-row-end: 3;  
  border-top: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.calculator-display-top {
  grid-row-start: 1;
  grid-row-end: 1;
  border-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.number,
.operator,
.clear,
.delete, 
.equals {
  border: 2px solid black;
  font-size: 30px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
}

.vsc-initialized {
  display: flex;
  justify-content: center;
}

.clear {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(170, 170, 255);
}

.delete {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: rgb(255, 170, 170);
}

.number:hover, 
.clear:hover,
.delete:hover,
.operator:hover,
.equals:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.number:active,
.clear:active,
.delete:active,
.operator:active,
.equals:active {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

